trainingMaterial/holgerDinkel/REST_services/css
trainingMaterial/holgerDinkel/REST_services/habits.html
trainingMaterial/holgerDinkel/REST_services/habits.pdf
trainingMaterial/holgerDinkel/REST_services/impress-template.html
trainingMaterial/holgerDinkel/REST_services/impress.css
trainingMaterial/holgerDinkel/REST_services/impress.js/
trainingMaterial/holgerDinkel/REST_services/index.pdf
trainingMaterial/holgerDinkel/REST_services/slides.md
_site
.DS_Store
trainingMaterial/holgerDinkel/git/git_tutorial/
trainingMaterial/holgerDinkel/git/git_tutorial.zip
