<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <a href="http://www.tgac.ac.uk/"><img src="{{site.baseurl}}/images/tgac_logo_single.png" height="100"></a>
    <a href="http://embo.org"><img src="{{site.baseurl}}/images/EMBO_logo.gif" height="100"></a>
    <a href="http://www.embo.org/events/practical-courses"><img src="{{site.baseurl}}/images/EMBO_PracticalCourse.gif" height="100"></a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
