

body, td.contentsarea  {
	background-color:#ffffff; 
	color: #000000;
	width:100%;
	padding:0;
	margin:0;
	font-size: 9pt;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
}

div.contents  td.contentsarea {
	font-size: 9pt;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
}




.contents{
	position: absolute;
	/*width: 100%;*/
	top: 55px;
	margin: 0;
	padding: 0;
	clear: both; /* test */
}

.innercontents div, .innercontents div div, .innercontents div div div, .innercontents div div div div, .innercontents div div div div div{
	z-index: inherit;
}

.headerdiv{
	position:absolute;
	left:0px;
	top:0px;
	padding:0px;
	margin:0px;
	width:100%;
	height:57px;
	border: 0;
	background-color: #207a7a;
}

div.footerdiv{
	width:100%;
	height: 22px;
	z-index: 2; 
	float: left;
	vertical-align: top;
	border: 0;
	margin: 0;
	padding: 0;
}
	


.contents{
	position: absolute;
	width: 100%;
	top: 57px;
	z-index: 2; 
}

table.contentspane{
	padding:0;
	width: 762px;
	vertical-align: top;
	margin-top: 6px;	
	margin-bottom: 6px;	
}

.contentspane{
	width: 762px;
	border-collapse: collapse;
}

table td.leftmargin{
	margin:0;
	height:540px;    /*sets min height */
	font-size: 1px;
	width: 1px;
	padding: 0;
	font-size: 1px;
}

table td.leftmenucell{
	padding-left:0;
	padding-right:0;
	padding-top:0;
	margin:0;
	width: 1px;
	vertical-align: top;
	padding-bottom: 0;
}

table td.contentsarea{
	margin:0;
	/*border-left: 1px solid #dedede;*/
	border-left: 1px solid #ffffff;
	border-right: 1px solid #dedede;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	vertical-align: top;
	text-align: left;
	padding-bottom: 0;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}




table td.rightmenucell{
	margin:0px;
	width: 1px;
	vertical-align: top;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

table td.footerrow{
	margin:0;
	border: 0;
	height: 22px;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 0;
	padding-bottom: 0;
	text-align: left;
}

div.leftmenu{
	 margin-right: 5px; 
	 margin-top: 0; 
	 border: 1px solid #ffffff;
	 visibility: hidden; 
	 display: none;
	 vertical-align: top;
	 text-align: left;
	 width: 1px; /* for print */
	 display: none;
}

div.rightmenu{
	margin-left: 5px; 
	margin-top: 5px; 
	border: 1px solid #ffffff;
	visibility: hidden; 
	display: none;
	vertical-align: top;
	width: 1px; /* for print */
}
 


div.contentsareadiv{
	margin:0px 5px 0px 5px; 
}
 
.contents{
	position:absolute;
	z-index:2;
	/*left: -4px;*/
}

.leftmenu, .rightmenu{
	vertical-align: top; 
	width: 1px;
}

.footerpane{
	width: 100%;
}

.spacer{
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
}



table.footerpane{
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	border-left: 0;
	border-right: 0;
	background-color: #dedede;	
	border-collapse: collapse;
	height: 22px;
	text-align: left;
}

table.footerpane td{
	border: 0;
	margin: 0;
	padding: 0;
	text-align: left;
	padding-left: 15px;
}




	.selectstylehighlight{
		background-color: #edf6f5;
	}
	.selectstyle{
		background-color: #ffffff;
	}
	


